body {
	background-color: #DEDCD2;
}
img {
     height: 239.48px;
     width: auto;
     padding: 5% 0% 5% 6%;
     position:relative;
     top:20px;
     right:20px;
     display: inline-block;
     z-index: -3;
}
.kvadrat {
	background-color: white;
	text-align: center;
	width:13.8em;
	height:9px;
	padding: 3.5% 4.8% 4%;
	display: inline-block;
	position: absolute;
}
#prvi {
	top:32.1%;
    right:69.8%;
}
#drugi {
	top:32.1%;
    right:37.9%;
}
#treci {    
	top:32.1%;
    right:5.9%;
}
.krug {
	width:80px;
	height:80px;
	margin:1%;
	border-radius: 50%;
	position:relative;
	background-color: white;
	display: inline-block;
	z-index:+1;
	text-align: center;
	color: #3BBF37;
	top:-200px;
}
#prvi-krug {
    right:-77.5%;
}
#drugi-krug {
    right:-36.7%;
}
#treci-krug {    
    right:3%; 
}
p {
	font-size: 113%;
	width: 115%;
	color:#696663;
}

