
body {
	font-family: 'Exo 2', sans-serif;
}
h1 {
	color:white;
	position: relative;
	margin-left: 50px;
}
ul {
	float:right;
	margin-right: 50px;

}
li {
	padding: 10px;
}
h1,nav ul li {
	display: inline-block;
}
header {
	background-color: #42486E;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	font-weight: bold;
}
h2 {
	margin: 50px 10px -8px 5px;
	text-align: left;
	padding-left: 60px;
}
h4 {
	border-top: 2px solid #3E3F43;
	padding-top: 20px;
}
hr {
	margin: 0px 150px 10px -10px;
	width: 100%;
	size: 5px;
}
div {
	position:absolute;
	margin: 0px 360px 10px 340px;
	
}
img {
	position: relative;
	float: right;
	width: 300px;
	padding-bottom: 30px;
}
table{
	text-align: center;
	margin: -14px 0px 30px 0px;
	border-collapse: collapse;
}
td {
	padding: 5px 10px;
	margin-left: 20px;
}
th {
	padding: 5px 10px;
	margin-left: 20px;
}
tr:nth-child(even) {
	background-color: #B2B4BF;
}
#naslov-tabele {
	clear:both;
	border-top: 2px solid #3E3F43;
	padding: 20px;
	font-weight: bold;
	margin-left: -20px;
}
#zaglavlje-tabele {
	border-bottom: 4px solid #3E3F43;
	padding: 0px 20px 20px;
	margin-left: -20px;
}
