h4,nav ul li {
	display: inline-block;
}
h4 {
	padding-left: 5em;
}
ul {
	float: right;
	padding-left: 42em;
	margin-top: 2%;
}
nav {
	margin: 1% 1% 0% 7.5%;
	position: fixed;
	opacity: 0.75;
	font-size: 14px;
}
li {
	padding: 1em;
	font-size: 12px;
}
#glavna-slika {
	position: relative;
	margin: 11% 17% 0%;
	height: 368.34px;
	width: auto;
	z-index: -1 !important;
}
a {
	text-decoration: none;
	color:#242424;
}
.nav:hover {
	text-decoration: underline;
}
section {
	border:1px solid #DEDCD2;
	box-shadow: 1px 1px 5px #888888;
	margin: -3.5% 32.5% 0% 22%;
	background-color: white;
	z-index: 1;
	padding: 1% 2% 2% 2%;
}
#glavni-naslov {
	font-size: 24px;
}
#datum {
	font-size: 10px;
}
#tekst {
	font-size: 12px;
}
#komentar {
	color: #FF8F0C;
}
#avatar {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 0% 0% 0% 78%;
}
#komentar, #avatar {
	display: inline-block;
}
.navigacija:hover {
	border-bottom: 4px solid orange !important;
}
@media screen and (max-width: 1300px) {
	#glavna-slika {
		height: 250px;
		width: auto;
	}
	ul {
		padding-left: 7em;
	}
}

@media screen and (max-width: 800px) {
	#glavna-slika {
		height: 150px;
		width: auto;
	}
	ul {
		padding-left: 0em;
	}
}