article {
	background-color: white;
	margin: 2% 10%;
	border-radius: 25px;
    border: 2px solid brown;
}
img {
	width: 100%;
	height: auto;
	border: none !important;
	float: right;
	border-radius: 0px 0px 25px 0px;

}
section {
	    padding: 11.5%;
}
footer #zaglavlje {
	padding: 3% 0% 1%;
}
footer {
    padding-bottom: 1%;
}
#kontakt {
	text-decoration: underline;
}
#naslov {
	padding: 3% 22% 0% 0%;
}